[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sentence-transformers = "*"
torch = {file = "https://download.pytorch.org/whl/cu115/torch-1.11.0%2Bcu115-cp310-cp310-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu115/torchvision-0.12.0%2Bcu115-cp310-cp310-linux_x86_64.whl"}
pandas = "*"
datasets = "*"

[dev-packages]
ipykernel = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
